.footer {
  width: 100%;
  height: 60px;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #0f172a;
  color: white;

  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
  position: fixed;
  bottom: 0;
  left: 0;
}
