.list-of-movies {
  width: 25%;
  background-color: #020617;
  color: white;
  padding: 16px;
  border-right: 1px solid #1e293b;
}


.list-of-movies h3 {
  margin-bottom: 12px;
}

.list-of-movies ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-of-movies li {
  padding: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.list-of-movies li:hover {
  background-color: #1e293b;
}
